/*  --------------- CSS MENU  --------------*/
  *{
    margin: 0;
    padding: 0;
  }

  header{
    font-family: Helvetica;
    width: 480px;
    margin: 0 auto;
  }
  ul{
    list-style: none;
  }
  #menu li>a{
    background-color: grey;
    color: white;
    padding: 10px;
    display: block;
    text-decoration: none;
    min-width: 100px;
  }
  #menu li>a:hover{
    color: #000;
    background-color: #eaeaea;
  }
  #menu>li{
    float: left;
    text-align:center
  }
  #menu>li>ul{
    display: none;
  }
  #menu>li:hover>ul {
    display:block;
  }




  /*  --------------- CSS BODY  --------------*/

  body{
    background-image: url(../images/FondoMenu.jpg);
  }

  #formulario {
    /* Centrar el formulario en la página */
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    /* Esquema del formulario */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    

  
      /*position:relative;
      left:100px;
      top: 50px;
      width:700px;
      height:400px;
      display:inline;*/
    }



/*  ----------------  CSS INICIO  ------------*/

